body {
  background: #f5f4f4 url("../img/bg.jpg") no-repeat fixed center;
  background-size: cover;
}
.my-login-box {
  width: 385px;
  margin: 3em auto;
  padding: 3em 2.5em;
}
.recapcha-error {
  border: 1px solid #e51c23;
  padding: 0.6em;
}
.form-buttons {
  margin-top: 1em;
}
.form-buttons * {
  margin-right: 1em;
}
