body {
  background: #f5f4f4 url("../img/bg.jpg") no-repeat fixed center;
  background-size: cover;
}
.my-login-box {
  width: 413px;
  margin: 3em auto;
  padding: 3em 2.5em;
}
.recapcha-error {
  padding: 0.6em;
}
.form-buttons {
  margin-top: 1em;
}
.form-buttons * {
  margin-right: 1em;
}
.cover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
  height: 250px;
  margin: 0 0 4rem;
}
.profile {
  width: 200px;
  height: 200px;
  margin: 20px auto;
  position: relative;
  bottom: 0;
}
@media screen and (min-width: 993px) {
  .profile {
    bottom: -100px;
  }
}
.nopadding {
  padding: 0;
}
.nomargin {
  margin: 0;
}
.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
.modal-dialog {
  margin-top: 40vh;
}
