@import "variables";

body {
  background: @bg url("../img/bg.jpg") no-repeat fixed center;
  background-size: cover;
  //background: background-color background-image background-repeat background-attachment background-position;
}

.my-login-box {
  width: 405px + 8em;
  margin: 3em auto;
  padding: 3em 2.5em;
  //background-color: fade(@bg, 70%);
}

.recapcha-error {
  //border-bottom: 2px solid @brand-danger;
  padding: 0.6em;
}

.form-buttons {
  margin-top: 1em;
  * {
    margin-right: 1em;
  }
}

@profile-size: 200px;

.cover {
  background-color: fade(black, 10%);
  color: black;
  height: @profile-size * 1.25;
  margin: 0 0 4rem;
}

.profile {
  width: @profile-size;
  height: @profile-size;
  margin: 20px auto;
  position: relative;
  bottom: 0;

  @media screen and (min-width: 993px) {
    bottom: -(@profile-size / 2);
  }
}

.nopadding {
  padding: 0;
}

.nomargin {
  margin: 0;
}
